<!DOCTYPE html>
<html>
<head>
    <title>Slideshow+</title>
<style>
	html {
		height: 100%;
	}
	body {
		min-height: 100%;	
		padding-bottom: 20px;
		position: relative;
	}
	footer {
		height: 20px;
	}
	body {
		font-size: 50px;	
	}
	li {
		padding: 30px;	
	}
	footer {
		font-size: 10px;	
	}
</style>

</head>
<body>
    <h2>Slideshow+</h2>
    <h3>Indeks:</h3>
    <ul>
	    <li><a href="/remote">pilot</a></li>
    </ul>
</body>
<footer>
	<p>Kristjan Voje -- kristjan.voje@gmail.com</p>
</footer>
</html>
