<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/remote_old.css"/>
    <title>Remote Control</title>
</head>

<body>
    <noscript>
        Your browser does not support javascript.
    </noscript>
    <div id="prev-div">
        <div id="prev-l"></div>
        <div id="prev-r"></div>
    </div>
    <div class="stretch">
        <table class="stretch" id="keypad-table">
            <tr>
                <td class="key">On</td>
                <td class="key">Off</td>
                <td colspan=2 style="width:50%" class="key">&uarr;</td>
            </tr>
            <tr>
                <td class="key num">1</td>
                <td class="key num">2</td>
                <td class="key num">3</td>
                <td class="key">&darr;</td>
            </tr>
            <tr>
                <td class="key num">4</td>
                <td class="key num">5</td>
                <td class="key num">6</td>
                <td class="key">Sleep</td>
            </tr>
                <td class="key num">7</td>
                <td class="key num">8</td>
                <td class="key num">9</td>
                <td class="key">&larr;</td>
            </tr>
            <tr>
                <td class="key">Delete</td>
                <td class="key num">0</td>
                <td class="key">Enter</td>
                <td class="key">&rarr;</td>
            </tr>
        </table>
    </div>
    <script src="/static/js/remote_old.js"></script>
</body>

</html>
